<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kanban board</title>
</head>
<body>
<h1>Kanban board</h1>

<p>TODO</p>
<div th:each="card:${todoCards}" style="border: 1px solid black">
    <p th:text="${card.getName()}">NAME</p>
    <p th:text="${card.getDescription()}">DESCRIPTION</p>
    <p th:text="${card.getPerson()}">PERSON</p>
</div>

<p>IN PROGRESS</p>
<div th:each="card:${inProgressCards}" style="border: 1px solid black">
    <p th:text="${card.getName()}">NAME</p>
    <p th:text="${card.getDescription()}">DESCRIPTION</p>
    <p th:text="${card.getPerson()}">PERSON</p>
</div>

<p>DONE</p>
<div th:each="card:${doneCards}" style="border: 1px solid black">
    <p th:text="${card.getName()}">NAME</p>
    <p th:text="${card.getDescription()}">DESCRIPTION</p>
    <p th:text="${card.getPerson()}">PERSON</p>
</div>

<div>
    <a th:href="@{/new}">New task</a>
</div>
</body>
</html>