<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kanban board</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="parentBlock">
    <div>
        <h1>Kanban board</h1>
    </div>
    <div class="cardsBlock">
        <div class="card">
            <p>TODO</p>
            <div class="cardText" th:each="card:${todoCards}">
                <p th:text="${card.getName()}">NAME</p>
                <p th:text="${card.getDescription()}">DESCRIPTION</p>
                <p th:text="${card.getPerson()}">PERSON</p>
                <div class="buttons">
                    <form th:method="GET" th:action="@{/{id}/edit(id=${card.getId()})}">
                        <input type="submit" value="edit">
                    </form>
                    <form th:method="DELETE" th:action="@{/{id}(id=${card.getId()})}">
                        <input type="submit" value="delete">
                    </form>
                    <form th:method="POST" th:action="@{/{id}/move(id=${card.getId()})}">
                        <input type="submit" value="->">
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <p>IN PROGRESS</p>
            <div class="cardText" th:each="card:${inProgressCards}">
                <p th:text="${card.getName()}">NAME</p>
                <p th:text="${card.getDescription()}">DESCRIPTION</p>
                <p th:text="${card.getPerson()}">PERSON</p>
                <div class="buttons">
                    <form th:method="GET" th:action="@{/{id}/edit(id=${card.getId()})}">
                        <input type="submit" value="edit">
                    </form>
                    <form th:method="DELETE" th:action="@{/{id}(id=${card.getId()})}">
                        <input type="submit" value="delete">
                    </form>
                    <form th:method="POST" th:action="@{/{id}/move(id=${card.getId()})}">
                        <input type="submit" value="->">
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <p>DONE</p>
            <div class="cardText" th:each="card:${doneCards}">
                <p th:text="${card.getName()}">NAME</p>
                <p th:text="${card.getDescription()}">DESCRIPTION</p>
                <p th:text="${card.getPerson()}">PERSON</p>
                <div class="buttons">
                    <form th:method="GET" th:action="@{/{id}/edit(id=${card.getId()})}">
                        <input type="submit" value="edit">
                    </form>
                    <form th:method="DELETE" th:action="@{/{id}(id=${card.getId()})}">
                        <input type="submit" value="delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a th:href="@{/new}">New task</a>
    </div>
</div>
</body>
</html>