<!DOCTYPE html>
<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kanban board</title>
    <link rel="stylesheet" th:href="@{/css/homeStyles.css}" />
</head>
<body>
<div class="parentBlock">
    <div class="elementCenterPage">
        <h1>Kanban board</h1>

        <div class="search">
            <form th:method="GET" th:action="@{/search}">
                <div class="inputFields">
                    <div class="inputField">
                        <label for="text">Search string</label>
                        <input id="text" type="text" name="text" value="">
                        <div class="buttonContainer">
                            <input type="submit" value="Search">
                            <form th:method="GET" th:href="@{/}">
                                <input type="submit" value="Clear">
                            </form>
                        </div>
                    </div>
                    <div class="inputField">
                        <label for="field">Search by</label>
                        <select class="selector" id="field" name="field">
                            <option th:value="name" th:text="Name"></option>
                            <option th:value="description" th:text="Description"></option>
                            <option th:value="person" th:text="Person"></option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="board">
        <div class="statusColumn">
            <p class="status">TODO</p>
            <div class="cardsBlock">
                <div class="card TODOColumn" th:each="card:${todoCards}">
                    <p th:text="${card.getName()}">NAME</p>
                    <p th:text="${card.getDescription()}">DESCRIPTION</p>
                    <p th:text="${card.getPerson()}">PERSON</p>
                    <div class="buttons">
                        <form th:method="GET" th:action="@{/{id}/edit(id=${card.getId()})}">
                            <input type="submit" value="edit">
                        </form>
                        <form th:method="DELETE" th:action="@{/{id}/delete(id=${card.getId()})}">
                            <input type="submit" value="delete">
                        </form>
                        <form th:method="PATCH" th:action="@{/{id}/move(id=${card.getId()})}">
                            <input type="submit" value="->">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="statusColumn">
            <p class="status">IN PROGRESS</p>
            <div class="cardsBlock">
                <div class="card INPROGRESSColumn" th:each="card:${inProgressCards}">
                    <p th:text="${card.getName()}">NAME</p>
                    <p th:text="${card.getDescription()}">DESCRIPTION</p>
                    <p th:text="${card.getPerson()}">PERSON</p>
                    <div class="buttons">
                        <form th:method="GET" th:action="@{/{id}/edit(id=${card.getId()})}">
                            <input type="submit" value="edit">
                        </form>
                        <form th:method="DELETE" th:action="@{/{id}/delete(id=${card.getId()})}">
                            <input type="submit" value="delete">
                        </form>
                        <form th:method="PATCH" th:action="@{/{id}/move(id=${card.getId()})}">
                            <input type="submit" value="->">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="statusColumn">
            <p class="status">DONE</p>
            <div class="cardsBlock">
                <div class="card DONEColumn" th:each="card:${doneCards}">
                    <p th:text="${card.getName()}">NAME</p>
                    <p th:text="${card.getDescription()}">DESCRIPTION</p>
                    <p th:text="${card.getPerson()}">PERSON</p>
                    <div class="buttons">
                        <form th:method="GET" th:action="@{/{id}/edit(id=${card.getId()})}">
                            <input type="submit" value="edit">
                        </form>
                        <form th:method="DELETE" th:action="@{/{id}/delete(id=${card.getId()})}">
                            <input type="submit" value="delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="elementCenterPage">
        <form th:method="GET" th:action="@{/new}">
            <input type="submit" value="New task">
        </form>
    </div>
</div>
</body>
</html>