<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <link rel="stylesheet" th:href="@{/css/newEditStyles.css}" />
</head>
<body>
<div class="parentBlock">
    <div class="cardCreateEdit">
        <div class="elementCenterPage">
            <h1>Create New Task</h1>
        </div>
        <form class="form"  th:method="PATCH" th:action="@{/{id}(id=${card.getId()})}" th:object="${card}">
            <div class="inputFieldWithErrors">
                <label for="name">Enter task name</label>
                <div class="inputField">
                    <input class="input"  type="text" th:field="*{name}" id="name">
                    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    <br>
                </div>
            </div>
            <div class="inputFieldWithErrors">
                <label for="description">Enter task description</label>
                <div class="inputField">
                    <textarea class="input" th:field="*{description}" id="description"></textarea>
                    <p style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                    <br>
                </div>
            </div>
            <div class="inputFieldWithErrors">
                <label for="status">Select task status</label>
                <div class="inputField">
                    <select class="input"  th:field="*{status}" id="status">
                        <option th:each="statusOption : ${T(com.skwita.Kanban.model.Status).values()}"
                                th:value="${statusOption}" th:text="${statusOption.displayValue}"></option>
                    </select>
                    <p style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
                    <br>
                </div>
            </div>
            <div class="inputFieldWithErrors">
                <label for="person">Enter person's name</label>
                <div class="inputField">
                    <input class="input" type="text" th:field="*{person}" id="person">
                    <p style="color: red" th:if="${#fields.hasErrors('person')}" th:errors="*{person}"></p>
                    <br>
                </div>
            </div>
            <div class="elementCenterPage">
                <input type="submit" value="Save Card">
            </div>
        </form>
    </div>
</div>
</body>
</html>